* {
  font-size: calc(10px + 1vmin);
  font-family: "Nunito", sans-serif;
  color: #222324;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.grey-italics {
  font-style: italic;
  font-weight: 400;
  color: rgb(130, 130, 130);
}

.grey-smaller {
  font-size: calc(8px + 0.8vmin);
  color: rgb(130, 130, 130);
}

.transluscent {
  color: rgba(0, 0, 0, 0.55);
}

.smaller {
  font-size: calc(8px + 0.8vmin);
}

.smallest {
  font-size: calc(8px + 0.5vmin);
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.green {
  color: #198754;
}

.red {
  color: #dc3545;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  max-width: 100%;
  max-height: 6vh;
  margin-left: 2vmin;
}

.modal-header {
  display: flex;
}

.modal-body {
  padding: 0.5rem 1rem;
}

.modal-body img {
  max-width: 100%;
}

.side-by-side-btns {
  display: flex;
  justify-content: space-evenly;
  margin: 2vmin 0;
}

/* Log in sign up */
.login-input {
  margin: 2vmin 0;
}

.forgot-password {
  text-align: center;
  margin: 1vmin;
  cursor: pointer;
}

.forgot-password:hover {
  color: #8779ee;
  text-decoration: underline 0.5px;
}

/* Nav Bar */
.navbar {
  width: 100vw;
  color: #1f2022;
  padding: 0;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-header #greeting {
  inline-size: 50px;
  word-wrap: break-word;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
}

.num-of-requests {
  padding: 0.2vmin 1.2vmin;
  border-radius: 2vmin;
  font-size: calc(10px + 0.8vmin);
}

#pending-requests {
  background-color: #ff5d6c;
  color: #ffffff;
}

#no-pending-requests {
  background-color: rgb(210, 210, 210);
}

.circle {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: calc(18px + 0.4vmin);
  height: calc(18px + 0.4vmin);
  font-size: calc(10pt + 0.3vmin);
  font-weight: 700;
}

/* Choose avatar */
.color-picker {
  height: 1.8rem;
  width: calc(20px + 4vmin);
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  margin-left: 1vmin;
}

.color-patch {
  display: flex;
  align-items: center;
  margin-left: calc(10px + 1vmin);
}

.form-check-inline {
  margin-right: 0;
}

.side-by-side-btns .form-check-input {
  margin-top: 0;
}

.avatar {
  height: calc(25px + 2vmin);
  margin: 0 0.5vmin;
}

.large-avatar img,
.avatar img {
  height: 100%;
}

.large-avatar {
  height: calc(80px + 5vmin);
  margin-bottom: 1vmin;
}

.flex-center {
  margin: 1vmin 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Post Form */
.compact-label {
  font-weight: 600;
  margin-bottom: 0;
}

.form-group {
  margin: 2vmin 0;
}

.flex-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.narrow-select {
  max-width: 40%;
  margin-left: 2vmin;
}

.coordinates-display {
  padding: 0.5vmin;
  font-style: italic;
  font-size: calc(10px + 0.8vmin);
  border-radius: 4px;
}

#address-look-up {
  display: flex;
  margin-bottom: 0.5vmin;
}

#address-look-up #look-up-btn {
  min-width: calc(70px + 2vmin);
  margin-left: 0.5vmin;
}

#help {
  background-color: #e7e7e7;
  padding: 0 calc(3px + 0.5vmin);
  border-radius: 100%;
}

.tooltip-inner {
  font-size: calc(10px + 0.4vmin);
  line-height: 120%;
}

/* Posts */
.modal-content-happy {
  border-right: 6px #d1f7b1 solid;
  border-bottom: 6px #d1f7b1 solid;
}

.modal-content-unhappy {
  border-right: 6px #fbceb5 solid;
  border-bottom: 6px #fbceb5 solid;
}

.user-avatar > img {
  width: 60px;
  max-width: 15vmin;
  margin-right: 2vmin;
}

.post-info .author {
  font-weight: 600;
}

.post-info .timestamp {
  font-size: calc(10px + 0.5vmin);
}

.post-body {
  background-color: #f8f9fa;
  padding-top: 1vmin;
  border-radius: 1vmin;
  margin-bottom: 1vmin;
}

.post-body .post-content {
  padding: 0 0.5vmin;
  text-align: justify;
  line-height: 120%;
}

.post-body .post-image {
  display: flex;
  justify-content: center;
  margin-top: 1vmin;
}

.text-overlay {
  position: absolute;
  bottom: 3vmin;
  right: 2vmin;
  left: 2vmin;
  text-align: justify;
}

.fade-off:before {
  content: "";
  background-image: linear-gradient(
    to top,
    #ffffff 25%,
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  height: 80%;
  right: 0;
  bottom: 0;
  left: 0;
}

.post-body .btn-group {
  width: 100%;
  margin-top: 1vmin;
}

.post-comments {
  margin: 1vh 0;
  font-weight: 600;
  margin-bottom: 1vmin;
}

.post-comments .post-comment {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  font-weight: 400;
  margin: 0.5vmin 0;
  border-radius: 0.5vmin;
}

.post-comments .post-comment .comment-content {
  display: flex;
  align-items: center;
}

.post-comments .post-comment .comment-info,
.comment-status {
  line-height: calc(5px + 0.5vmin);
}
.post-comments .post-comment .post-comment-data {
  display: block;
  padding: 0.5vmin;
  max-width: 85%;
}
.post-comments .post-comment .post-comment-data .user-comment {
  margin-bottom: 0.7vh;
  font-size: calc(8px + 0.8vmin);
}

.post-comments .post-comment .post-comment-data .info-status {
  display: flex;
}

.post-comments .post-comment .post-comment-data .comment-status {
  margin-left: 0.5vmin;
}

.comment-section-btns {
  color: #8779ee;
}

#comment-form {
  width: 100%;
}

/* Friend finder */
#friend-search-container {
  min-width: 300px;
}

.friend-search-input,
.search-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vmin 0;
}

.friend-search-form input {
  margin-right: calc(4px + 0.5vmin);
}

.search-results {
  margin-bottom: 1vmin;
  border-radius: 4px;
}

.flex-align-center,
.search-result .avatar {
  display: flex;
  align-items: center;
}

.search-result .avatar img {
  margin-right: 1vmin;
}

.search-result .friend-btn {
  width: 32%;
  font-size: calc(8px + 0.7vmin);
}

/* Friend manager */
.friends-container {
  margin: 1vmin 0;
}

.friends-container .header {
  font-weight: 600;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vmin;
}

.friend-email {
  margin: 0 1vmin;
}

/* Filter */
.range-slider__wrap {
  width: 87%;
  margin: 0 auto calc(25px + 2vmin) auto;
}

/* Help */
.example {
  margin: 0.5vmin 0;
}

.icon-example {
  height: calc(20px + 2vmin);
  margin-right: 1vmin;
}
