* {
  font-size: calc(10px + 1vmin);
  font-family: "Nunito", sans-serif;
  color: #222324;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100vw;
  color: #1f2022;
}

#logo {
  max-width: 100%;
  max-height: 6vh;
  margin-left: 2vmin;
}

.modal {
  padding-left: 0 !important;
}

.modal-header {
  display: flex;
}

.modal-body img {
  max-width: 100%;
}

.side-by-side-btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vmin;
}

/* Post Form */
.form-label {
  font-weight: 600;
  margin-bottom: 0;
}

.form-group {
  margin: 2vmin 0;
}

.coordinates-display {
  background-color: #f8f9fa;
  padding: 0.5vmin;
  font-style: italic;
  border-radius: 4px;
}

.coordinates-display-found {
  color: #5bb12d;
}

.coordinates-display-not-found {
  color: #ff5d6c;
}

#address-look-up {
  display: flex;
  height: calc(25px + 2vmin);
  margin-bottom: 0.5vmin;
}

#address-look-up #look-up-btn {
  width: calc(110px + 3vmin);
  margin-left: 0.5vmin;
}

#optional-text {
  color: rgb(145, 145, 145);
  font-style: italic;
  font-weight: 400;
}

/* Posts */

.modal-content-happy {
  border-right: 6px #d1f7b1 solid;
  border-bottom: 6px #d1f7b1 solid;
}

.modal-content-unhappy {
  border-right: 6px #fbceb5 solid;
  border-bottom: 6px #fbceb5 solid;
}

.user-avatar > img {
  width: 60px;
  max-width: 15vmin;
  margin-right: 2vmin;
}

.post-info .author {
  font-weight: 600;
}

.post-info .timestamp {
  font-size: calc(10px + 0.5vmin);
}

.post-body {
  background-color: #f8f9fa;
  padding: 2vmin;
  border-radius: 1vmin;
  margin-bottom: 1vmin;
}

.post-body .post-image {
  display: flex;
  justify-content: center;
  margin-top: 1vmin;
}

.post-body .btn-group {
  width: 100%;
  margin-top: 1vmin;
}

.post-comments {
  margin: 1vh;
  font-weight: 600;
  margin-bottom: 1vmin;
}

.post-comments .post-comment {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin: 0.5vmin 0;
  border: solid 1px #faedcd;
}

.post-comments .post-comment .comment-info {
  font-size: calc(8px + 0.5vmin);
  font-weight: 300;
}
.post-comments .post-comment .post-comment-info-status {
  display: block;
  padding-left: 0.5vmin;
  margin: 0.3vmin;
}
.post-comments .post-comment .post-comment-info-status .user-comment {
  margin-bottom: 0.7vh;
}

.post-comments .post-comment .post-comment-info-status .info-status {
  display: flex;
}

.post-comments .post-comment .post-comment-info-status .comment-status {
  font-style: italic;
  margin-left: 0.5vmin;
  font-size: calc(8px + 0.5vmin);
  font-weight: 300;
}
.post-comments .post-comment .edit-btn {
  color: #8779ee;
}
#comment-form {
  width: 100%;
}
